<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ishangit.shop.web.admin.dao.TbUserDao">
    <select id="selectAll" resultType="TbUser">
        SELECT
            a.id,
            a.username,
            a.password,
            a.phone,
            a.email,
            a.created,
            a.updated
        FROM
            tb_user AS a
    </select>
</mapper>