<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ishangit.shop.web.admin.dao.TbUserDao">
    <sql id="tbUserColumns">
        tb_user.id,
        tb_user.username,
        tb_user.`password`,
        tb_user.phone,
        tb_user.email,
        tb_user.created,
        tb_user.updated
    </sql>

    <insert id="insertTbUser" parameterType="TbUser">
        INSERT INTO tb_user
        VALUES
        (NULL,#{username},#{password},#{phone},#{email},#{created},#{updated})
    </insert>

    <update id="updateTbUser">
        UPDATE tb_user
        SET username = #{username},password = #{password},phone = #{phone},email = #{email},created = #{created},updated = #{updated}
        WHERE id = #{id}
    </update>

    <select id="selectAll" resultType="TbUser">
        SELECT
            a.id,
            a.username,
            a.password,
            a.phone,
            a.email,
            a.created,
            a.updated
        FROM
            tb_user AS a
    </select>

    <select id="getByEmail" resultType="TbUser">
        select
        <include refid="tbUserColumns"/>
        from  tb_user where email = #{email}
    </select>

    <select id="getById" resultType="TbUser">
      select
      <include refid="tbUserColumns"/>
      from tb_user
      where id = #{id}
    </select>
    <select id="search" resultType="TbUser">
        SELECT
            <include refid="tbUserColumns"/>
        FROM
            tb_user
        <where>
            <if test="username != null and username !=''">
                and username like concat('%',#{username},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%',#{email},'%')
            </if>
        </where>
    </select>

    <select id="page" resultType="TbUser" parameterType="java.util.Map">
        select <include refid="tbUserColumns"/>
        FROM
        tb_user
        limit #{start},#{length}
    </select>

    <select id="count" resultType="java.lang.Integer">
      select count(*) from tb_user;
    </select>

    <delete id="deleteMulti">
        delete from tb_user
        where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>

    </delete>
</mapper>